@model MoviesDBAndCRUD.Models.Movy

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div>
        <h4>Movy</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div>
            @Html.LabelFor(model => model.Title, new { @class = "" })
            <div>
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Director, new { @class = "" })
            <div>
                @Html.EditorFor(model => model.Director)
                @Html.ValidationMessageFor(model => model.Director)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.Year, new { @class = "" })
            <div>
                @Html.EditorFor(model => model.Year)
                @Html.ValidationMessageFor(model => model.Year)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.LeadingMaleRole, new { @class = "" })
            <div>
                @Html.EditorFor(model => model.LeadingMaleRole)
                @Html.ValidationMessageFor(model => model.LeadingMaleRole)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.LeadingMaleRoleAge, new { @class = "" })
            <div>
                @Html.EditorFor(model => model.LeadingMaleRoleAge)
                @Html.ValidationMessageFor(model => model.LeadingMaleRoleAge)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.LeadingMaleRoleAgeStudio, new { @class = "" })
            <div>
                @Html.EditorFor(model => model.LeadingMaleRoleAgeStudio)
                @Html.ValidationMessageFor(model => model.LeadingMaleRoleAgeStudio)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.LeadingMaleRoleAgeStudioAddress, new { @class = "" })
            <div>
                @Html.EditorFor(model => model.LeadingMaleRoleAgeStudioAddress)
                @Html.ValidationMessageFor(model => model.LeadingMaleRoleAgeStudioAddress)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.LeadingFemaleRole, new { @class = "" })
            <div>
                @Html.EditorFor(model => model.LeadingFemaleRole)
                @Html.ValidationMessageFor(model => model.LeadingFemaleRole)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.LeadingFemaleRoleAge, new { @class = "" })
            <div>
                @Html.EditorFor(model => model.LeadingFemaleRoleAge)
                @Html.ValidationMessageFor(model => model.LeadingFemaleRoleAge)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.LeadingFemaleRoleStudio, new { @class = "" })
            <div>
                @Html.EditorFor(model => model.LeadingFemaleRoleStudio)
                @Html.ValidationMessageFor(model => model.LeadingFemaleRoleStudio)
            </div>
        </div>

        <div>
            @Html.LabelFor(model => model.LeadingFemaleRoleStudioAddress, new { @class = "" })
            <div>
                @Html.EditorFor(model => model.LeadingFemaleRoleStudioAddress)
                @Html.ValidationMessageFor(model => model.LeadingFemaleRoleStudioAddress)
            </div>
        </div>

        <div>
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
