<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/style.css")
</head>
<body>
    <nav>
        <ul>
            <li class="nav-item"><h4>Съдържание</h4></li>
            <li class="nav-item"><h4 id="1" value="_Overview">Обща информация за стрес тестването</h4></li>
            <li class="nav-item"><h4 id="2" value="_StressConditionsExamples">Примери за стрес условия</h4></li>
            <li class="nav-item"><h4 id="3" value="_StressRelatedSymptomsExamples">Примери за симптоми, свързани със Стрес</h4></li>
            <li class="nav-item"><h4 id="4" value="_HowToUseTheGivenInformarion">Как да използваме информацията дадена тук</h4></li>
            <li class="nav-item"><h4 id="5" value="_Input">Input</h4></li>
            <li class="nav-item"><h4 id="6" value="_Output">Output</h4></li>
            <li class="has-sub nav-item">
                <h4 id="7" value="_StressTestingApproach">Подход към Стрес тестване ></h4>
                <ul class="sub-menu">

                    <li class="nav-item">
                        <h4 id="8" value="_S1_IdentifyTestObjectives">Стъпка 1 - Определяне на целите на стрес-тестването.</h4>
                    </li>

                    <li class="nav-item">
                        <h4 id="9" value="_S2_IdentifyKeyScenarios">Стъпка 2 - Определяне на ключов/и сценарий/сценарии.</h4>
                    </li>

                    <li class="nav-item">
                        <h4 id="10" value="_S3_IdentifyWorkload">Стъпка 3 – Определяне на натоварване.</h4>
                    </li>

                    <li class="nav-item">
                        <h4 id="11" value="_S4_IdentifyMetrics">Стъпка 4 – Определяне на показателите.</h4>
                    </li>

                    <li class="nav-item">
                        <h4 id="12" value="_S5_CreateTestCases">Стъпка 5 – Създаване на случаи за тестване.</h4>
                    </li>

                    <li class="nav-item">
                        <h4 id="13" value="_S6_SimulateLoad">Стъпка 6 – Симулиране на натоварване.</h4>
                    </li>

                    <li class="nav-item">
                        <h4 id="14" value="_S7_AnalyzeResults">Стъпка 7 – Анализиране на резултатите.</h4>
                    </li>

                </ul>
            </li>
            <li class="nav-item"><h4 id="15" value="_StressTestingUsageScenarios">Сценарии за Стрес-Тестване</h4></li>
            <li class="nav-item"><h4 id="16" value="_ExploratoryStressTesting">Проучвателно стрес-тестване</h4></li>
            <li class="nav-item"><h4 id="17" value="_SomeStressTestTools">Някои инструменти за стрес-тестване:</h4></li>
            <li class="nav-item"><h4 id="18" value="_Summary">Заключение</h4></li>
            <li class="nav-item"><h4 id="19" value="_Referenses">Референции:</h4></li>
            
        </ul>

    </nav>
    <div class="body-text">

        <div class="container body-content">
            @RenderBody()
        </div>
    </div>
        @Scripts.Render("~/Scripts/jquery-2.1.1.min.js")
        @Scripts.Render("~/Scripts/script.js")

</body>
</html>
