<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
        @Styles.Render("~/Content/style.css")
</head>
<body>
    <nav>
        <ul>
            <li class="nav-item"><h4>Съдържание</h4></li>
            <li class="nav-item"><h4>@Html.ActionLink("Обща информация за стрес тестването","Overview","SiteContent")</h4></li>
            <li class="nav-item"><h4>@Html.ActionLink("Примери за стрес условия", "StressConditionsExample", "SiteContent")</h4></li>
            <li class="nav-item"><h4>@Html.ActionLink("Примери за симптоми, свързани със Стрес", "StressConditionsExample", "SiteContent")</h4></li>
            <li class="nav-item"><h4>@Html.ActionLink("Как да използваме информацията дадена тук", "StressConditionsExample", "SiteContent")</h4></li>
            <li class="nav-item"><h4>@Html.ActionLink("Input", "StressConditionsExample", "SiteContent")</h4></li>
            <li class="nav-item"><h4>@Html.ActionLink("Output", "StressConditionsExample", "SiteContent")</h4></li>
            <li class="has-sub nav-item">
                <h4>@Html.ActionLink("Подход към Стрес тестване >", "StressConditionsExample", "SiteContent")</h4>
                <ul class="sub-menu">

                    <li class="nav-item">
                        <h4>@Html.ActionLink("Стъпка 1 - Определяне на целите на стрес-тестването.", "StressConditionsExample", "SiteContent")</h4>
                    </li>

                    <li class="nav-item">
                        <h4>@Html.ActionLink("Стъпка 2 - Определяне на ключов/и сценарий/сценарии.", "StressConditionsExample", "SiteContent")</h4>
                    </li>

                    <li class="nav-item">
                        <h4>@Html.ActionLink("Стъпка 3 – Определяне на натоварване.", "StressConditionsExample", "SiteContent")</h4>
                    </li>

                    <li class="nav-item">
                        <h4>@Html.ActionLink("Стъпка 4 – Определяне на показателите.", "StressConditionsExample", "SiteContent")</h4>
                    </li>

                    <li class="nav-item">
                        <h4>@Html.ActionLink("Стъпка 5 – Създаване на случаи за тестване.", "StressConditionsExample", "SiteContent")</h4>
                    </li>

                    <li class="nav-item">
                        <h4>@Html.ActionLink("Стъпка 6 – Симулиране на натоварване.", "StressConditionsExample", "SiteContent")</h4>
                    </li>

                    <li class="nav-item">
                        <h4>@Html.ActionLink("Стъпка 7 – Анализиране на резултатите.", "StressConditionsExample", "SiteContent")</h4>
                    </li>

                </ul>
            </li>
            <li class="nav-item"><h4>@Html.ActionLink("Сценарии за Стрес-Тестване", "StressConditionsExample", "SiteContent")</h4></li>
            <li class="nav-item"><h4>@Html.ActionLink("Проучвателно стрес-тестване", "StressConditionsExample", "SiteContent")</h4></li>
            <li class="nav-item"><h4>@Html.ActionLink("Някои инструменти за стрес-тестване:", "StressConditionsExample", "SiteContent")</h4></li>
            <li class="nav-item"><h4>@Html.ActionLink("Заключение", "StressConditionsExample", "SiteContent")</h4></li>
            <li class="nav-item"><h4>@Html.ActionLink("Референции:", "StressConditionsExample", "SiteContent")</h4></li>
        </ul>

    </nav>
    <div class="container body-content">
        @RenderBody()
    </div>
    <script src="~/Scripts/jquery-2.1.1.min.js"></script>
    @Scripts.Render("~/Scripts/jquery-2.1.1.min.js")
    @Scripts.Render("~/Scripts/script.js")
</body>
</html>
