@model BitCalculator.Models.DataModel

    <table>
        <thead>
            <tr>
                <td colspan="2">
                    Storage (Kilo = @Model.Kilo bits)
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="120">Bit</td>
                <td width="200">@Model.kilos[0]</td>
            </tr>
            <tr>
                <td width="120">Byte</td>
                <td width="200">@Model.kilos[1]</td>
            </tr>
            <tr>
                <td width="120">Kilobit</td>
                <td width="200">@Model.kilos[2]</td>
            </tr>
            <tr>
                <td width="120">Kilobyte</td>
                <td width="200">@Model.kilos[3]</td>
            </tr>
            <tr>
                <td width="120">Megabit</td>
                <td width="200">@Model.kilos[4]</td>
            </tr>
            <tr>
                <td width="120">Megabyte</td>
                <td width="200">@Model.kilos[5]</td>
            </tr>
            <tr>
                <td width="120">Gigabit</td>
                <td width="200">@Model.kilos[6]</td>
            </tr>
            <tr>
                <td width="120">Gigabyte</td>
                <td width="200">@Model.kilos[7]</td>
            </tr>
            <tr>
                <td width="120">Terabit</td>
                <td width="200">@Model.kilos[8]</td>
            </tr>
            <tr>
                <td width="120">Terabyte</td>
                <td width="200">@Model.kilos[9]</td>
            </tr>
            <tr>
                <td width="120">Petabit</td>
                <td width="200">@Model.kilos[10]</td>
            </tr>
            <tr>
                <td width="120">Petabyte</td>
                <td width="200">@Model.kilos[11]</td>
            </tr>
            <tr>
                <td width="120">Exabit</td>
                <td width="200">@Model.kilos[12]</td>
            </tr>
            <tr>
                <td width="120">Exabyte</td>
                <td width="200">@Model.kilos[13]</td>
            </tr>
            <tr>
                <td width="120">Zettabit</td>
                <td width="200">@Model.kilos[14]</td>
            </tr>
            <tr>
                <td width="120">Zettabyte</td>
                <td width="200">@Model.kilos[15]</td>
            </tr>
            <tr>
                <td width="120">Yottabit</td>
                <td width="200">@Model.kilos[16]</td>
            </tr>
            <tr>
                <td width="120">Yottabyte</td>
                <td width="200">@Model.kilos[17]</td>
            </tr>
        </tbody>
    </table>
