@using BitCalculator.Models
@model TableDataModel

@{
    ViewBag.Title = "BitCalculator";
}

<h2>BitCalculator</h2>

<form action="/Home/BitCalculator" method="post">
    <label for="quantity">Quantity</label>
    <br>
    <input name="quantity" value="0" />
    <br>

    <label for="type">Type</label>
    <br>
    <select name="type">
        <option value=0>bit - b</option>
        <option value=1>Byte - B</option>
        <option value=2>Kilobit - Kb</option>
        <option value=3>Kilobyte - KB</option>
        <option value=4>Megabit - Mb</option>
        <option value=5 selected="selected">Megabyte - MB</option>
        <option value=6>Gigabit - Gb</option>
        <option value=7>Gigabyte - GB</option>
        <option value=8>Terabit - Tb</option>
        <option value=9>Terabyte - TB</option>
        <option value=10>Petabit - Pb</option>
        <option value=11>Petabyte - PB</option>
        <option value=12>Exabit - Eb</option>
        <option value=13>Exabyte - EB</option>
        <option value=14>Zettabit - Zb</option>
        <option value=15>Zettabyte - ZB</option>
        <option value=16>Yottabit - Yb</option>
        <option value=17>Yottabyte - YB</option>
    </select>
    <br>
    <label for="kilo">Kilo</label>
    <br>
    <select name="kilo">
        <option value="1024" selected="selected">1024</option>
        <option value="1000">1000</option>
    </select>
    <br>
    <input type="submit" value="Go" />
    <br>
    <hr>

    <table>
        <thead>
            <tr>
                <td colspan="2">
                    Storage (Kilo = @Model.multiplier bits)
                </td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td width="120">Bit</td>
                <td width="200">@Model.kilos[0]</td>
            </tr>
            <tr>
                <td width="120">Byte</td>
                <td width="200">@Model.kilos[1]</td>
            </tr>
            <tr>
                <td width="120">Kilobit</td>
                <td width="200">@Model.kilos[2]</td>
            </tr>
            <tr>
                <td width="120">Kilobyte</td>
                <td width="200">@Model.kilos[3]</td>
            </tr>
            <tr>
                <td width="120">Megabit</td>
                <td width="200">@Model.kilos[4]</td>
            </tr>
            <tr>
                <td width="120">Megabyte</td>
                <td width="200">@Model.kilos[5]</td>
            </tr>
            <tr>
                <td width="120">Gigabit</td>
                <td width="200">@Model.kilos[6]</td>
            </tr>
            <tr>
                <td width="120">Gigabyte</td>
                <td width="200">@Model.kilos[7]</td>
            </tr>
            <tr>
                <td width="120">Terabit</td>
                <td width="200">@Model.kilos[8]</td>
            </tr>
            <tr>
                <td width="120">Terabyte</td>
                <td width="200">@Model.kilos[9]</td>
            </tr>
            <tr>
                <td width="120">Petabit</td>
                <td width="200">@Model.kilos[10]</td>
            </tr>
            <tr>
                <td width="120">Petabyte</td>
                <td width="200">@Model.kilos[11]</td>
            </tr>
            <tr>
                <td width="120">Exabit</td>
                <td width="200">@Model.kilos[12]</td>
            </tr>
            <tr>
                <td width="120">Exabyte</td>
                <td width="200">@Model.kilos[13]</td>
            </tr>
            <tr>
                <td width="120">Zettabit</td>
                <td width="200">@Model.kilos[14]</td>
            </tr>
            <tr>
                <td width="120">Zettabyte</td>
                <td width="200">@Model.kilos[15]</td>
            </tr>
            <tr>
                <td width="120">Yottabit</td>
                <td width="200">@Model.kilos[16]</td>
            </tr>
            <tr>
                <td width="120">Yottabyte</td>
                <td width="200">@Model.kilos[17]</td>
            </tr>
        </tbody>
    </table>
</form>